/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

hmtl,
body,
.div-bgr
{
  /* vh -  viewport height */
  min-height: 100vh;
}

.div-bgr {
    width: 100vw;
    height: 100vh;
    background: rgb(190, 215, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1100px;
    height: 650px;
    background: #fff;
    border-radius: 1rem;
    padding: 10px;
    margin: 5px;
}

.titulo-signup {
    padding-left: 40px;
}

.link-signup {
    text-decoration: none;
}

.grid-form {
    background: #fff;
    border-radius: 1rem;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 10px;
    padding: 25px 50px;
}

.form-left {
    width: 500px;
    height: 400px;
    border: 0;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .form-right {
    width: 500px;
    height: 400px;
    border: 0;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

input{
    width: 400px;
    height: 30px;
    border-radius: 0.3rem;
}

label {
    position: relative;
    text-align: left;
    width: 400px;
    height: 30px;
    margin-bottom: 0%;
}

.botao-confirm {
    width: 400px;
    height: 30px;
    margin-top: 5px;
    border-radius: 0.3rem;
    border: 0.3px solid;
    background-color: rgb(36, 36, 171);
    color: #fff;
}

.botao-cancel {
    width: 400px;
    height: 30px;
    margin-top: 5px;
    border-radius: 0.3rem;
    border: 0.3px solid;
    background-color: white;
}

select {
    width: 400px;
    height: 30px;
    border-radius: 0.3rem;
}

p {
    color: #747775;
}

.texto-bottom {
    color: #747775;
    text-align: center;
   justify-content: center;
   align-content: center;
}